.home-section {
  width: 100%;

  &__content {
    position: relative;
    z-index: 2;
    margin: 0 auto;
    max-width: 980px;
    padding: 100px 22px;
    text-align: center;

    p {
      font-size: 1.125rem;
    }
  }
}
