.left-item {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 5px;
  height: 42px;
  margin-bottom: 2px;
  transition: background-color .3s ease;

  &--active {
    background-color: rgba(30,30,30,0.3);
  }

  &__icon {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    width: 42px;
  }

  &__text {
    color: white;
    flex: 1 1 auto;
    margin-right: 10px;
  }
}
