.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;

  .split-view, .split-view-view {
    overflow: visible !important;
  }

  .sash {
    opacity: 0;
  }

  &__content{
    flex: 1 1 auto;

    &__left-wrapper {
      margin-top: 10px;
      padding: 0 10px;
    }

    &__right-wrapper {
      background-color: var(--background-color);
      border-left: 1px solid rgba(0,0,0,0.15);
      border-top: 1px solid rgba(0,0,0,0.15);
      border-top-left-radius: 8px;
      box-shadow: rgba(0, 0, 0, 0.2) 0 0 20px 16px;
      height: 100%;
      width: 100%;
    }
  }

  &__header{
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    height: 64px;
    justify-content: space-between;
    padding: 0 22px;
  }
}
